@using Microsoft.AspNetCore.Mvc.Localization
@using LagencyUser.Web.Resources

@inject IHtmlLocalizer<SharedResource> Localizer
@model ExternalLoginConfirmationViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Register";
}

<div class="mdc-typography--headline6 text-uppercase">@Localizer["Associate your {0} account", ViewData["LoginProvider"]]</div>

<section class="card-content">
    <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p class="text-info">
            @Localizer["You've successfully authenticated with <strong>{0}</strong>.Please enter a user name for this site below and click the Register button to finishlogging in.", ViewData["LoginProvider"]]
        </p>
        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field  ">
                <input asp-for="GivenName" type="text" class="mdc-text-field__input">
                <label asp-for="GivenName" class="mdc-floating-label">@Localizer["Given name"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="GivenName" class="text-danger"></span>
        </div>

        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field  ">
                <input asp-for="FamilyName" type="text" class="mdc-text-field__input">
                <label asp-for="FamilyName" class="mdc-floating-label">@Localizer["Family name"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="FamilyName" class="text-danger"></span>
        </div>
        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field">
                <input asp-for="Email" type="text" class="mdc-text-field__input">
                <label asp-for="Email" class="mdc-floating-label">@Localizer["Email"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <button type="submit" name="button" class="mdc-button  mdc-button--raised" value="login">@Localizer["Register"]</button>
        </div>
    </form>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
