@using Microsoft.AspNetCore.Mvc.Localization
@using LagencyUser.Web.Resources

@inject IHtmlLocalizer<SharedResource> Localizer
@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="mdc-typography--headline6 text-uppercase">@Localizer["Reset password"]</div>
<section class="card-content">
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field">
                <input asp-for="Email" type="text" class="mdc-text-field__input">
                <label asp-for="Email" class="mdc-floating-label">@Localizer["Email"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field">
                <input asp-for="Password" type="password" class="mdc-text-field__input">
                <label asp-for="Password" class="mdc-floating-label">@Localizer["Password"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mdc-form-field" data-mdc-auto-init="MDCTextField">
            <div class="mdc-text-field">
                <input asp-for="ConfirmPassword" type="password" class="mdc-text-field__input">
                <label asp-for="ConfirmPassword" class="mdc-floating-label">@Localizer["Confirm Password"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="mat-form-field-subscript-wrapper">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" name="button" class="mdc-button  mdc-button--raised">@Localizer["Reset"]</button>
        </div>
    </form>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
